body {
	--use: 20px;
	--doNotUse: 0px;
	--fsAncillary: var(--doNotUse);
}
[data-freestar-ad] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	position: relative;
}
[data-freestar-ad*="__fsAncillary"] {
	--fsAncillary: var(--use);
}
[data-freestar-ad*="__728x90"],
[data-freestar-ad*="__970x90"] {
	--height: 90px;
	height: 90px;
	height: calc(var(--height) + var(--fsAncillary)) !important;
}

[data-freestar-ad*="__300x250"],
[data-freestar-ad*="__970x250"] {
	--height: 250px;
	height: 250px;
	height: calc(var(--height) + var(--fsAncillary)) !important;
}

[data-freestar-ad*="__336x280"] {
	--height: 280px;
	height: 280px;
	height: calc(var(--height) + var(--fsAncillary)) !important;
}

[data-freestar-ad*="__160x600"],
[data-freestar-ad*="__300x600"] {
	--height: 600px;
	height: 600px;
	height: calc(var(--height) + var(--fsAncillary)) !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	[data-freestar-ad*="__300x50"],
	[data-freestar-ad*="__320x50"] {
		--height: 50px;
		height: 50px;
		height: calc(var(--height) + var(--fsAncillary)) !important;
	}

	[data-freestar-ad*="__468x60"] {
		--height: 60px;
		height: 60px;
		height: calc(var(--height) + var(--fsAncillary)) !important;
	}

	[data-freestar-ad*="__300x100"],
	[data-freestar-ad*="__320x100"] {
		--height: 100px;
		height: 100px;
		height: calc(var(--height) + var(--fsAncillary)) !important;
	}

	[data-freestar-ad*="__300x250"] {
		--height: 250px;
		height: 250px;
		height: calc(var(--height) + var(--fsAncillary)) !important;
	}

	[data-freestar-ad*="__336x280"] {
		--height: 280px;
		height: 280px;
		height: calc(var(--height) + var(--fsAncillary)) !important;
	}
} 